// .header{
//     padding: 15px;
//     border: 1px solid black; //rgb(23, 163, 212);
//     font-size: 1.5em;
//     color: #17a3d4;
// }

.icon{
    float: left;
    width: 40px;
    height: 40px;
}
.brand{
    margin-left: 8px !important;
    height: 100%;
    vertical-align: top;
    margin-top: 11px;
    display: inline-block;
    font-size: 25px;
    font-family: cursive;
}