<form (ngSubmit)="onSubmit()" [formGroup]="backlogForm">
    <div class="backlog">
        <div class="form-group row">
            <label for="classname" class="col-md-3 col-form-label">class_name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="classname" formControlName="classname">
            </div>
        </div>
        <div class="form-group row">
            <label for="marketplace" class="col-md-3 col-form-label">marketplace</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="marketplace" formControlName="marketplace">
            </div>
        </div>
        <div class="form-group row">
            <label for="reviewstatus" class="col-md-3 col-form-label">review_status</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="reviewstatus" formControlName="reviewstatus">
            </div>
        </div>
        <div class="form-group row">
            <label for="asincatchdate" class="col-md-3 col-form-label">asin_catch_date</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asincatchdate" formControlName="asincatchdate">
            </div>
        </div>
        <div class="form-group row">
            <label for="prioritycreatedate" class="col-md-3 col-form-label">priority_create_date</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="prioritycreatedate" formControlName="prioritycreatedate">
            </div>
        </div>
        <div class="form-group row">
            <label for="workingstatus" class="col-md-3 col-form-label">working_status</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="workingstatus" formControlName="workingstatus">
            </div>
        </div>
        <div class="form-group row">
            <label for="asinreviewdate" class="col-md-3 col-form-label">asin_review_date</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asinreviewdate" formControlName="asinreviewdate">
            </div>
        </div>
        <div class="form-group row">
            <label for="productcategory" class="col-md-3 col-form-label">product_category</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="productcategory" formControlName="productcategory">
            </div>
        </div>
        <div class="form-group row">
            <label for="enforcementriskscore" class="col-md-3 col-form-label">enforcement_risk_score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="enforcementriskscore"
                    formControlName="enforcementriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="csbriskscore" class="col-md-3 col-form-label">e csb_risk_score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="csbriskscore" formControlName="csbriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="policyversionid" class="col-md-3 col-form-label">policy_version_id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="policyversionid" formControlName="policyversionid">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>