.backlog{
    border: 1px solid rgba(0,0,0,0.185);
    padding: 20px;
    border-radius: 2px;
}

.backlog .btn.btn-primary{
    float: right;
}

label{
    cursor: pointer;
}
.example-full-width {
    width: 100%;
}
.example-half-width{
    width: 45%;
}