<form (ngSubmit)="onSubmit()" [formGroup]="backlogForm">
    <div class="backlog">
        <mat-form-field class="example-full-width">
                <input type="text" matInput [elm]=6 placeholder="Class" id="classname" 
                formControlName="classname">            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Marketplace</mat-label>
            <mat-select  id="marketplace" formControlName="marketplace" multiple>            
                <mat-option *ngFor="let option of mpOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">            
                <input type="text" matInput [elm]=30 placeholder="Review Status" id="reviewstatus"
                 formControlName="reviewstatus" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsbacklog | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label for="priority" class="col-md-3 col-form-label">Priority</mat-label>
                <mat-select  id="priority" formControlName="priority" multiple>            
                    <mat-option *ngFor="let option of asinpriority" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>            
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <input type="text" matInput [elm]=5 placeholder="Working Status" id="workingstatus" formControlName="workingstatus">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsbacklog | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>            
        </mat-form-field>
        <mat-form-field class="example-full-width">            
                <input type="text" matInput [elm]=8 id="productcategory" placeholder="Product Category" 
                formControlName="productcategory" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsbacklog | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>     
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label for="enforcementriskscore">Enforcement Risk Score</mat-label>                            
                <mat-select  id="enforcementriskscore" formControlName="enforcementriskscore" multiple>            
                    <mat-option *ngFor="let option of ers" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>            
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label for="csbriskscore">Csb Risk Score</mat-label>
                <mat-select  id="csbriskscore" formControlName="csbriskscore" multiple>            
                    <mat-option *ngFor="let option of crs" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>            
        </mat-form-field>
        <mat-form-field class="example-full-width">                        
                <input type="text" matInput [elm]=32  id="policyversionid" placeholder="Policy Version Id" 
                formControlName="policyversionid">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsbacklog | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>             
        </mat-form-field>
        <div class="example-full-width">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>