<form (ngSubmit)="onSubmit()" [formGroup]="inflowForm">
    <div class="inflow">
        <mat-form-field class="example-full-width">
            <input matInput type="text" [elm]=1 placeholder="Pick one" aria-label="Number"
                formControlName="asincatchdate" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="text" [elm]=2 placeholder="inflow yw" id="inflowyw" aria-label="Number"
                formControlName="inflowyw" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="form-group row">
            <label for="potentialclass" class="col-md-3 col-form-label">potential_class class</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="potentialclass" formControlName="potentialclass">
            </div>
        </div>
        <div class="form-group row">
            <label for="createdate" class="col-md-3 col-form-label">create_date</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="createdate" formControlName="createdate">
            </div>
        </div>
        <div class="form-group row">
            <label for="workingstatus" class="col-md-3 col-form-label">Working Status</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="workingstatus" formControlName="workingstatus">
            </div>
        </div>
        <div class="form-group row">
            <label for="asicreviewpriority" class="col-md-3 col-form-label">asic_review_priority</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asicreviewpriority" formControlName="asicreviewpriority">
            </div>
        </div>
        <div class="form-group row">
            <label for="productcategory" class="col-md-3 col-form-label">product_category</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="productcategory" formControlName="productcategory">
            </div>
        </div>
        <div class="form-group row">
            <label for="actionclientname" class="col-md-3 col-form-label">action client_name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="actionclientname" formControlName="actionclientname">
            </div>
        </div>
        <div class="form-group row">
            <label for="policytype" class="col-md-3 col-form-label">policy_type</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="policytype" formControlName="policytype">
            </div>
        </div>
        <div class="form-group row">
            <label for="enforcementriskscore" class="col-md-3 col-form-label">enforcement_risk_score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="enforcementriskscore"
                    formControlName="enforcementriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="csbriskscore" class="col-md-3 col-form-label">e csb_risk_score</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="csbriskscore" formControlName="csbriskscore">
            </div>
        </div>
        <div class="form-group row">
            <label for="policyentityid" class="col-md-3 col-form-label">policy_entity_id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="policyentityid" formControlName="policyentityid">
            </div>
        </div>
        <div class="form-group row">
            <label for="marketplacenode" class="col-md-3 col-form-label">marketplace node</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="marketplacenode" formControlName="marketplacenode">
            </div>
        </div>
        <div class="form-group row">
            <label for="inflow" class="col-md-3 col-form-label">inflow</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="inflow" formControlName="inflow">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>