<form (ngSubmit)="onSubmit()" [formGroup]="outflowForm">
    <div class="outflow">
        <div class="form-group row">
            <label for="class" class="col-md-3 col-form-label">class</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="class" formControlName="class">
            </div>
        </div>
        <div class="form-group row">
            <label for="asinreviewpriority" class="col-md-3 col-form-label">asin_riview_priority</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="asinreviewpriority" formControlName="asinreviewpriority">
            </div>
        </div>
        <div class="form-group row">
            <label for="productcategory" class="col-md-3 col-form-label">product_category</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="productcategory" formControlName="productcategory">
            </div>
        </div>
        <div class="form-group row">
            <label for="audittypedecision" class="col-md-3 col-form-label">audit_type_decision</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="audittypedecision" formControlName="audittypedecision">
            </div>
        </div>
        <div class="form-group row">
            <label for="reviewday" class="col-md-3 col-form-label">review_day</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="reviewday" formControlName="reviewday">
            </div>
        </div>
        <div class="form-group row">
            <label for="reviewweek" class="col-md-3 col-form-label">review_week</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="reviewweek" formControlName="reviewweek">
            </div>
        </div>
        <div class="form-group row">
            <label for="reviewmonth" class="col-md-3 col-form-label">review_month</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="reviewmonth" formControlName="reviewmonth">
            </div>
        </div>
        <div class="form-group row">
            <label for="reviewermanagerlogin" class="col-md-3 col-form-label">reviewer manager login</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="reviewermanagerlogin"
                    formControlName="reviewermanagerlogin">
            </div>
        </div>
        <div class="form-group row">
            <label for="outflowtype" class="col-md-3 col-form-label">outflow_type</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="outflowtype" formControlName="outflowtype">
            </div>
        </div>
        <div class="form-group row">
            <label for="nei_flag" class="col-md-3 col-form-label">neiflag</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="neiflag" formControlName="neiflag">
            </div>
        </div>
        <div class="form-group row">
            <label for="marketplace" class="col-md-3 col-form-label">marketplace</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="marketplace" formControlName="marketplace">
            </div>
        </div>
        <div class="form-group row">
            <label for="node" class="col-md-3 col-form-label">node</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="node" formControlName="node">
            </div>
        </div>
        <div class="form-group row">
            <label for="org" class="col-md-3 col-form-label">org</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="org" formControlName="org">
            </div>
        </div>
        <div class="form-group row">
            <label for="sla" class="col-md-3 col-form-label">sla</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="sla" formControlName="sla">
            </div>
        </div>
        <div class="form-group row">
            <label for="outflow" class="col-md-3 col-form-label">outflow</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="outflow" formControlName="outflow">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>