<form (ngSubmit)="onSubmit()" [formGroup]="outflowForm">
    <div class="outflow">
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=6 placeholder="Class" id="class" 
            formControlName="class">           
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="asin_priority" id="asin_priority" multiple>
                <mat-option *ngFor="let option of asinpriority" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=8 placeholder="Category" id="product_category" 
            formControlName="product_category" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">            
            <!-- <input type="text" matInput [elm]=10 id="enforcementriskscore" placeholder="Enforcement Risk Score"
                formControlName="enforcementriskscore" [matAutocomplete]="auto"> -->
                <mat-label>Enforcement Risk Score</mat-label>
            <mat-select formControlName="enforcement_risk_score" id=enforcement_risk_score multiple>
                <mat-option *ngFor="let option of ers" [value]="option">
                    {{option}}
                </mat-option>                
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">     
            <!-- <input type="text" matInput [elm]=11  id="csbriskscore" placeholder="Csb Risk Score" formControlName="csbriskscore"> -->
            <mat-label>Csb Risk Score</mat-label>
            <mat-select formControlName="csb_risk_score" id="csb_risk_score" multiple>
                <mat-option *ngFor="let option of crs" [value]="option">
                    {{option}}
                </mat-option>                
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=16 placeholder="Audit Label" id="audittype" 
            formControlName="audittype" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>            
        </mat-form-field>
        <mat-form-field class="example-full-width">            
            <input type="text" matInput [elm]=17 id="decision" placeholder="Decision" 
            formControlName="decision" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">            
            <input type="text" matInput [elm]=18 id="asin_auditor" placeholder="Reviewer" 
            formControlName="asin_auditor" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=19 id="manager_id" placeholder="Manager" 
            formControlName="manager_id" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>        
        </mat-form-field>
        <mat-form-field class="example-full-width">            
            <mat-label>Choose review day</mat-label>
            <input type="text" matInput [matDatepicker]="picker" id="reviewday" 
            formControlName="reviewday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>               
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=21 id="reviewweek" placeholder="Week" 
            formControlName="reviewweek" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=22 id="reviewmonth" placeholder="Month" 
            formControlName="reviewmonth" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=24 id="bulktype" placeholder="Bulk Type" 
            formControlName="bulktype" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=23 id="outflowtype" placeholder="Outflow Type" 
            formControlName="outflowtype" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=13 id="marketplace" placeholder="MP"
                formControlName="marketplace" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=26 id="neiflag" placeholder="Nei Flag" 
            formControlName="neiflag" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=14 id="node" placeholder="Node"
                formControlName="node" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=25 id="org" placeholder="Org" 
            formControlName="org" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input type="text" matInput [elm]=27 id="sla" placeholder="SLA" 
            formControlName="sla" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsOutflow | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="form-group row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" color="primary">Submit</button>
            </div>
        </div>
</div>
</form>